/* .App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

input {
  width: 284px;
  height: 40px;
  right: 1207px;
  top: 1062px;
  font-size: 18px;
  background: #ffff;
  border-radius: 5px;
  padding: 10px;
}

.Cart {
  padding: 30px;
}

.submitBtn {
  width: 277px;
  height: 45px;
  right: 433px;
  border-radius: 5px;
  background: #f46d40;
  font-size: 14px;
}
h1 {
  margin: 1em 1em 1em 1em;
}
