.AuthorizationForm{
    background-color: #c4c4c4;
    width: 370px;
    height: 300px;
    margin: 0 auto;
}

.AuthorizationForm h2, form{
    text-align: center;
}

.AuthorizationForm h2{
    padding-top: 30px;
}

.AuthorizationForm form input{
    margin-top: 30px;
}

.AuthorizationForm form button{
    margin-top: 30px;
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 25px;
}

