* {
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 375px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .ContactsWrapper {
    margin: 1rem;
    padding: 0;
  }
  .ContactsWrapper ul {
    padding: 0;
  }
}

.BranchesList {
  margin: 1rem 0;
}

.ContactsWrapper {
  margin: 0.8rem;
  padding: 2rem 0;
  font-size: 20px;
}

.ContactsMail {
  margin: 2rem 1rem;
}

.ContactsMap {
  border: solid 2px #f46d40;
  margin: 3rem 0 1rem 0;
  width: 90%;
}

.ContactsWrapper p {
  padding: 1rem;
}

.ContactsWrapper ul {
  padding: 0 3rem;
}
